body{
	margin:0;
	padding: 0;
    font-size: 15px;
    line-height: 1.4em;
    color: #8e8e8e;
    font-family: 'Raleway', sans-serif;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.slide{
	background: url(../img/Slider.jpg) no-repeat;
	height: 670px;
    position:relative;
	color:#FFFFFF;
	background-position: center;
	font-weight: bold;
}
.slide .container{
	text-align: center;
	width:500px;
	height:200px;
    margin:-100px -250px;
	position: absolute;
	left:50%;
	top:50%;
}
.slide h1{
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.design{
	text-align: center;
	padding: 90px 0;
}
.design-h{
	font-size: 20px;
	color:#000;
	text-align: center;
}
.design-p{
	width:50%;
	margin: 0 auto;
}
.service{
	margin-top:80px;
	margin-bottom:80px;
	position: relative;
	visibility: visible;
}
.icon-right{
	position: absolute;
	top:-20px;
	right:-10px
}
.icon-left{
	position: absolute;
	top:-20px;
	left: -10px;
}
.service-text-right{
	margin-right: 100px;
	text-align: right;
}
.service-text-left{
	margin-left:100px;
	text-align: left;
}
.service-icon{

	width:75px;
	height:75px;
	background: #000;
	border:1px;
	border-radius : 50%;
	line-height: 80px;
	color: 	#EE6363;
	font-weight: bold;
	font-size: 25px;
	text-align: center;

}
/*这里是video css*/
.video-wrapper{
	background: url("../img/video-bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}
.video{
	background: rgba(39, 40, 43, 0.8);
	margin:100px 0px;
	text-align: center;
	padding-top:100px;
	color:#FFFFFF;

}
.video-src{
	display: none;
}
.circled{
	font-size: 35px;
	color:#fff;
	display:inline-block;
	width:75px;
	height:75px;
	border:1px;
	line-height: 75px;
	border-radius: 100%;
	background: #fa5c58;
    text-decoration: none;
	padding-right: -6px;
}